<article id="article-<%= article.id %>" class='h-entry hentry h-as-note'>
  <h2 class='page-header p-name entry-title'><%= (controller.controller_name == 'redirect') ? article.title : link_to_permalink(article,article.title) %></h2>
  <div class='e-content entry-content article'>
    <%= render 'articles/protected_article_content', { :article => article } %>
    <%#= render 'articles/meta', article: article %>
  </div>

  <aside>
    <div class="date">
      <span class="day_month"><%= l(article.created_at, :format => "%d.%m.") %></span>
      <span class="year"><%= l(article.created_at, :format => "%Y") %></span>
    </div>
    <div class='comments'>
      <%= render 'articles/comment_counter', article: article %>
    </div>
  </aside>
</article>
